body, html, .body-container  {
  height: 100%;
  font-size: .95em;
}
nav {
  height: 30px;
}
#login-buttons {
  position: absolute;
  margin: 7px 10px;
  right: 0;
}

#login-dropdown-list {
  top: 8px;
  left: -130px;
}

.body-container {
    margin-top: 10px;
}

.video-stream {
  height: 70%;
}

.headline {
  font-family: montserrat;
 color: #1a237e;
}

#logo {
  height: 300px;
  width: auto;
}

.coverPage-container {
  height: 100%;
  width: 100%;
  background-color:#e0f7fa;
}

.coverPage {
  position: absolute;
  left: 50%;
  top: 50%;
  ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}
