<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" sizes="16x16 32x32" href="/logo.png">
  <title>OpenDigs</title>
</head>
<body>
    <nav class="blue darken-2">
      <div class="nav-wrapper">
        {{> loginButtons}}
      </div>
    </nav>
  <div class="body-container row">
    <div class="video-stream col s9 blue-grey darken-4">
      {{> video}}
      <div class="video-list">
        {{> videoList}}
      </div>
    </div>
    <div class="chatbox col s3 offset-s9">
      {{> chat}}
    </div>
  </div>
</body>
